@charset "UTF-8";
.hide {
  display: none;
}

.isfeatured {
  border-left: 5px solid hsl(180deg, 29%, 50%);
}

.disableB {
  pointer-events: none;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  background-color: hsl(180deg, 31%, 95%);
  color: hsl(180deg, 29%, 50%);
}
body header {
  background: hsl(180deg, 29%, 50%) url("images/bg-header-desktop.svg");
  height: 156px;
}

main {
  margin-top: 50px;
}
main #filtered {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  height: 72px;
  top: -35px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  text-align: left;
  box-shadow: 0px 10px 20px -7px hsl(180deg, 29%, 50%);
}
main #filtered #clearFilter {
  color: hsl(180deg, 8%, 52%);
  text-align: center;
}
main #filtered #clearFilter:hover {
  color: hsl(180deg, 29%, 50%);
  text-decoration: underline;
  cursor: pointer;
}
main #filtered .filters {
  background-color: hsl(180deg, 31%, 95%);
  border-radius: 5px;
  margin: 5px 0 0 15px;
  border: none;
  color: hsl(180deg, 29%, 50%);
  padding: 0 0 0 10px;
}
main #filtered .filters:hover img {
  background-color: black;
}
main #filtered .filters img {
  background-color: hsl(180deg, 29%, 50%);
  padding: 10px;
  margin-left: 10px;
  border-radius: 0 5px 5px 0;
}
main .jobs {
  background-color: #fff;
  border-radius: 5px;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  box-shadow: 0px 10px 20px -7px hsl(180deg, 29%, 50%);
  padding: 20px;
  box-sizing: border-box;
}
main .jobs .header {
  height: auto;
  background: none;
}
main .jobs .header .new {
  background-color: hsl(180deg, 29%, 50%);
  color: white;
  padding: 7px 10px;
  border-radius: 15px;
  margin: 0 20px;
}
main .jobs .header .featured {
  background-color: hsl(180deg, 14%, 20%);
  color: white;
  padding: 7px 10px;
  border-radius: 15px;
}
main .jobs .main {
  text-align: left;
}
main .jobs .main .data {
  color: hsl(180deg, 8%, 52%);
  font-size: 16px;
}
main .jobs .main .data span {
  color: hsl(180deg, 8%, 52%);
  margin-right: 20px;
}
main .jobs .main .data span:before {
  content: "";
}
main .jobs .main .data span:after {
  content: "  ●  ";
}
main .jobs .main .data span:last-of-type:after {
  content: " ";
}
main .jobs .main .company {
  font-size: 18px;
}
main .jobs .main .position {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 700;
  color: hsl(180deg, 14%, 20%);
}
main .jobs .main .position:hover {
  cursor: pointer;
  color: hsl(180deg, 29%, 50%);
}
main .jobs .filtersOri {
  text-align: right;
}
main .jobs .filtersOri button {
  background-color: hsl(180deg, 31%, 95%);
  border-radius: 5px;
  margin: 5px 0 0 15px;
  border: none;
  color: hsl(180deg, 29%, 50%);
  padding: 5px 10px;
}
main .jobs .filtersOri button:hover {
  cursor: pointer;
  background-color: hsl(180deg, 29%, 50%);
  color: white;
}

@media (min-width: 1440px) {
  .container {
    width: 1100px;
  }
}
@media (max-width: 992px) {
  header {
    width: 100%;
  }
  main .jobs, main #filter {
    margin: 5px;
  }
  main #filtered {
    height: auto;
    padding: 5px;
  }
  main #filtered #clearFilter {
    text-align: left;
  }
  main #filtered .filters {
    margin: 5px;
  }
  main .jobs {
    position: relative;
    height: auto;
    margin: 40px;
  }
  main .jobs .logo {
    position: absolute;
    top: -25px;
    max-width: 50px;
  }
  main .jobs .header {
    margin-top: 15px;
  }
  main .jobs .main {
    border-bottom: 1px solid hsl(180deg, 8%, 52%);
    margin-bottom: 20px;
  }
  main .jobs .main .position {
    margin-bottom: 0;
  }
  main .jobs #filtered {
    text-align: left;
  }
  main .jobs #filtered span {
    margin: 10px 5px 5px 0;
    display: inline-block;
    padding: 5px 10px;
  }
}/*# sourceMappingURL=style.css.map */